In [1]:
import pandas as pd

In [3]:

names = [ "AMBPano1", 
         "AMBPano3", 
         "AMBPano8"
         ]

files = [ "20230807_AMBPano1_Boat_gigapan_panorama",
         "20230807_AMBPano3_Boat_gigapan_panorama",
         "20230807_AMBPano8_Boat_gigapan_panorama"
         ]

ser_names, frames = [], []
for file, name in zip(files, names):
    json_file = f"../input/{file}.json"

    df = pd.read_json(json_file, orient='records')
    df['name'] = name
    # df = df.set_index("name")
    
    ser = df['rectanglelabels'].explode()
    ser.name = name
    ser = ser.value_counts()

    ser_names.append(name)
    frames.append(ser)

df = pd.concat(frames, keys=ser_names, names=['Image name', 'Class'])
df.name = "annotations"
df

Image name  Class
AMBPano1    Cormorant    111
            Nest          43
AMBPano3    Cormorant    114
            Nest          50
AMBPano8    Nest         127
            Cormorant    102
Name: annotations, dtype: int64

In [4]:
df.to_csv("../output/20230807_AMBPano_annotations.csv")
# df.to_excel("output/20230807_AMBPano_annotations.xlsx")

In [5]:
df

Image name  Class
AMBPano1    Cormorant    111
            Nest          43
AMBPano3    Cormorant    114
            Nest          50
AMBPano8    Nest         127
            Cormorant    102
Name: annotations, dtype: int64

In [25]:
# one iteration
file_one = files[0]
json_file = f"{file_one}.json"

df = pd.read_json(json_file, orient='records')
df['name'] = file_one
# df = df.set_index("name")

df = df['rectanglelabels'].explode()
df.name = file_one
df

0           Nest
1           Nest
2           Nest
3           Nest
4           Nest
         ...
149    Cormorant
150    Cormorant
151    Cormorant
152    Cormorant
153         Nest
Name: 20230807_AMBPano1_Boat_gigapan_panorama, Length: 154, dtype: object

In [26]:
df.value_counts()

20230807_AMBPano1_Boat_gigapan_panorama
Cormorant    111
Nest          43
Name: count, dtype: int64